body {
    text-align: center;
    font-family: 'PT Mono', monospace;
}

table {
    margin: 5% auto;
    padding: 10px 10px;
    border-spacing: 8px;
    background-color: #333;
}

td {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-style: outset;
    border-color: rgb(97, 97, 97);
    border-radius: 5px;
    background-color: #888888;
    user-select: none;
}

td:hover {
    background-color: #c6c6c6;
}

.answer, .answer:hover {
    background-color: rgba(0, 255, 255, 0.557);
    height: 60px;
    border-radius: 10px;
    border-style: inset;
    text-align: right;
    padding-right: 10px;
}

.blank:hover {
    background-color: #989898;
}

.symbols {
    background-color: #b8b8b8;
    border-color:  #919191;
}

.symbols:hover {
    background-color: #d8d8d8;
}

.equals {
    background-color: rgba(0, 255, 255, 0.557);
}

.equals:hover {
    background-color: rgba(199, 255, 255, 0.749);
}
