body {
    text-align: center;
}

table {
    margin: 5% auto;
    padding: 10px 10px;
    border-spacing: 8px;
    background-color: #454545;
}

td {
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border: 3px solid;
    border-style: outset;
    border-color: grey;
    border-radius: 5px;
    background-color: #989898;
    user-select: none;
}

td:hover {
    background-color: #c6c6c6;
}

.answer, .answer:hover {
    background-color: #698f5e;
    height: 60px;
    border-radius: 10px;
    border-style: inset;
    text-align: right;
    padding-right: 10px;
}

.blank:hover {
    background-color: #989898;
}

.symbols {
    background-color: #d0b998;
    border-color:  #9d8a6f;
}

.symbols:hover {
    background-color: #ffe7c5;
}

.equals {
    background-color: #698f5e;
}

.equals:hover {
    background-color: #7fac73;
}
